@model PEX.HomeViewModel.HomePageViewModel

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/app.js"></script>
<script>window.vendors = @Html.Raw(Json.Encode(Model.Vendors))</script>

@if (Model != null)
{
    <div ng-app="app" ng-controller="EditVendors">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th class="col-md-8" scope="col"></th>
                    <th class="col-md-3" scope="col">Cap for all vendors</th>
                    <th class="col-md-1" scope="col">Save</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-8"></td>
                    <td class="col-md-3"><input type="number" min="1" step="0.01" ng-model="cap"/></td>
                    <td class="col-md-1"><input type="button" class="btn btn-success" ng-click="setCapForVendors(cap)" value="Set Cap For Vendors" /></td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Per User Cap</th>
                    <th scope="col">Enabled</th>
                    <th scope="col">Save</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vendors">
                    <td><input class="form-control" type="text" ng-model="item.VendorName"></td>
                    <td><input type="number" min="1" step="0.01" ng-model="item.MonthlyPerUserCapDollars"/></td>
                    <td><input type="checkbox" ng-checked="item.Enabled" ng-model="item.Enabled"></td>
                    <td><input type="button" class="btn btn-success" ng-click="save(item)" value="Save" /></td>
                </tr>
            </tbody>
        </table>
    </div>
}